<h2>Liste des armes</h2>
<button type="button" class="btn btn-warning" routerLink="/armes/creation">Créer une arme</button>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Attaque</th>
    <th scope="col">Esquive</th>
    <th scope="col">Degats</th>
    <th scope="col">P.Vie</th>
    <th scope="col">Edition</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let arme of armes">
    <td>
      <a routerLink="/details-Armes/{{arme.id}}">
        {{arme.name}}</a>
    </td>
    <td>{{arme.attaque}}</td>
    <td>{{arme.esquive}}</td>
    <td>{{arme.degats}}</td>
    <td>{{arme.pv}}</td>
    <td>
      <button type="button" class="btn btn-danger" (click)="delete(arme.id)">Supprimer</button>
    </td>
  </tr>
  </tbody>


</table>
