<h2>Liste des armes</h2>
<button type="button" class="btn btn-warning" routerLink="/armes/creation">Créer une arme</button>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let arme of armes">
    <td>
      <a routerLink="/detail/{{arme.id}}">
        {{arme.name}}</a>
    </td>
    <td>
      <button type="button" class="btn btn-danger" (click)="delete(arme.id)">Supprimer</button>
    </td>
  </tr>
  </tbody>


</table>
