<div *ngIf="arme">

  <h2>{{arme.name | uppercase}} Details</h2>
  <div><span>id: </span>{{arme.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="arme.name" placeholder="name"/>
    </label><br>
    <label>attaque:
      <input [(ngModel)]="arme.attaque" placeholder="attaque"/>
    </label><br>
    <label>esquive:
      <input [(ngModel)]="arme.esquive" placeholder="esquive"/>
    </label><br>
    <label>degats:
      <input [(ngModel)]="arme.degats" placeholder="degats"/>
    </label><br>
    <label>P.Vie:
      <input [(ngModel)]="arme.pv" placeholder="pv"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
</div>

