<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div class="row">
    <div class="col-sm-5" id="infoHero">
      <div><img src="https://cdn2.iconfinder.com/data/icons/heroes/128/superhero_captain_hero_comic-512.png"
                alt="{{hero.name}}" width="120px">
      </div>
      <div class="detailsHero">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="8" aria-valuemin="1" aria-valuemax="40">{{hero.attaque}}</div>
        </div>
        <span>Attaque: {{hero.attaque}}</span><br>
        <span>Esquive: {{hero.esquive}}</span><br>
        <span>Degats: {{hero.degats}}</span><br>
        <span>Point de Vie: {{hero.pv}}</span><br>
      </div>
      <div class="detailsArme">
        <h2>Arme Details</h2>
        <span>Nom: {{hero.armeName}}</span><br>
      </div>
      <div>
        <button (click)="goBack()">Retour</button>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-5" id="modifHero">
      <h3>Modifier votre Hero</h3>
      <h4>Total points : {{total}}</h4>
      <p>! Vous ne pouvez attribuer que 40pts</p>
      <label>name:
        <input [(ngModel)]="hero.name" placeholder="name"/>
      </label><br>
      <label>attaque:
        <input [(ngModel)]="hero.attaque" placeholder="attaque" type="number" min="1" max="{{40 - (hero.pv + hero.degats + hero.esquive)}}"/>
      </label><br>
      <label>esquive:
        <input [(ngModel)]="hero.esquive" placeholder="esquive" type="number" min="1" max="{{40 - (hero.pv + hero.degats + hero.attaque)}}" />
      </label><br>
      <label>degats:
        <input [(ngModel)]="hero.degats" placeholder="degats" type="number" min="1" max="{{40 - (hero.pv + hero.esquive + hero.attaque)}}" />
      </label><br>
      <label>P.Vie:
        <input [(ngModel)]="hero.pv" placeholder="pv" type="number" min="1"max="{{40 - (hero.esquive + hero.degats + hero.attaque)}}" />
      </label><br>
      <label>Arme:
        <select [(ngModel)]="hero.arme">
          <option> Aucune arme</option>
          <option *ngFor="let arme of armes" value="{{arme.id}}"> {{arme.name}}</option>
        </select>
      </label>
      <div class="btn-position">
        <button *ngIf="total >= 0 && total < 40"  id="btn-enregistrer" (click)="save()"> Enregistrer les modifications</button>
      </div>
    </div>
  </div>

</div>
