label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.detailsHero {
  border: solid;
  padding: 10px;
  /*font-size: 30px;*/
  background-color: silver;
  color: white;

}

.detailsHero .col-val {
  font-size: 10px;
}

.detailsArme {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 30px;
  background-color: gray;
  color: white;
}

.detailsArme h2 {
  color: black;
}

#modifHero h4 {
  Color: green;
}

#modifHero p {
  Color: red;
}
