<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label><br>
    <label>attaque:
      <input [(ngModel)]="hero.attaque" placeholder="attaque"/>
    </label><br>
    <label>esquive:
      <input [(ngModel)]="hero.esquive" placeholder="esquive"/>
    </label><br>
    <label>degats:
      <input [(ngModel)]="hero.degats" placeholder="degats"/>
    </label><br>
    <label>P.Vie:
      <input [(ngModel)]="hero.pv" placeholder="pv"/>
    </label><br>
    <label>Arme:
      <select>
        <option> Aucune arme</option>
        <option *ngFor="let arme of arme"> {{arme.name}}</option>
      </select>
    </label>
  </div>
  <div>
  <button (click)="goBack()">go back</button>
</div>
<div class="btn-position">
  <button id="btn-enregistrer" (click)="save()"> Enregistrer les modifications</button>
</div>


</div>
