<h1>{{title}}</h1>
<div class="row"id="templateNav">
  <div class="col-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link " id="v-pills-dashboard-tab" data-toggle="pill" routerLink="/dashboard" role="tab"
         aria-controls="v-pills-dashboard" aria-selected="false">Dashboard</a>
      <a class="nav-link" id="v-pills-heroes-tab" data-toggle="pill" routerLink="/heroes" role="tab"
         aria-controls="v-pills-heroes" aria-selected="false">Heroes</a>
      <a class="nav-link" id="v-pills-armes-tab" data-toggle="pill" routerLink="/armes" role="tab"
         aria-controls="v-pills-armes" aria-selected="false">Armes</a>
    </div>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>

<!--<app-messages></app-messages>-->
