<div class="container">
<h2>Création d'un hero</h2>
  <form [formGroup]="formHero" (ngSubmit)="createHero()">
  <label>Name:
    <input type="text" formControlName="name">
  </label><br>
  <label>Attaque:
    <input type="number" formControlName="attaque">
  </label><br>
    <label>Esquive:
      <input type="number" formControlName="esquive">
    </label><br>
    <label>Dégâts:
      <input type="number" formControlName="degats">
    </label><br>
    <label>Point de Vie:
      <input type="number" formControlName="pv">
    </label><br>
<!--  Value: {{ formHero.value }}-->
<button type="submit" [disabled]="!formHero.valid">Valider</button>
  </form>
</div>

