<div class="container">
<h2>Création d'un hero</h2>
  <p>Point de compétences à attribuer : {{restant}}</p>
  <form [formGroup]="formHero" (ngSubmit)="createHero()">
  <label>Name:
    <input type="text" formControlName="name">
  </label><br>
  <label>Attaque:
    <input type="number" formControlName="attaque" min="1" max="{{restant + this.formHero.get('attaque').value}}">
  </label><br>
    <label>Esquive:
      <input type="number" formControlName="esquive" min="1" max="{{restant + this.formHero.get('esquive').value}}">
    </label><br>
    <label>Dégâts:
      <input type="number" formControlName="degats" min="1" max="{{restant + this.formHero.get('degats').value}}">
    </label><br>
    <label>Point de Vie:
      <input type="number" formControlName="pv" min="1" max="{{restant + this.formHero.get('pv').value}}">
    </label><br>
<!--  Value: {{ formHero.value }}-->
<button type="submit" [disabled]="!formHero.valid">Valider</button>
  </form>
</div>

