<div class="container" id="creaHero">
  <h4>Création d'un hero</h4>
  <h3>Point du Hero : {{restant}}</h3>
  <p>! 40 points max à attribuer</p>
  <form [formGroup]="formHero" (ngSubmit)="createHero()">
    <label>Name:
      <input type="text" formControlName="name">
    </label><br>
    <label>Attaque:
      <input type="number" formControlName="attaque" min="1" max="{{restant + this.formHero.get('attaque').value}}">
    </label><br>
    <label>Esquive:
      <input type="number" formControlName="esquive" min="1" max="{{restant + this.formHero.get('esquive').value}}">
    </label><br>
    <label>Dégâts:
      <input type="number" formControlName="degats" min="1" max="{{restant + this.formHero.get('degats').value}}">
    </label><br>
    <label>Point de Vie:
      <input type="number" formControlName="pv" min="1" max="{{restant + this.formHero.get('pv').value}}">
    </label><br>
    <h5>Ajouter une arme à votre Hero</h5>
    <label>Arme:
      <select formControlName="arme">
        <option value="">Aucune arme</option>
        <option *ngFor="let arme of armes" value="{{arme.id}}"> {{arme.name}}</option>
      </select>
    </label>
    <div>
      <button *ngIf="restant >= 0 && restant < 40" type="submit" [disabled]="!formHero.valid">Valider</button>
    </div>
  </form>
</div>

