<div class="container" id="creaArme">
  <h3>Création d'une arme</h3>
  <h4>Point de l'arme : {{restant}}</h4>
  <p>Le total des points de votre arme ne doit pas dépasser 0</p>
  <form [formGroup]="formArme" (ngSubmit)="createArme()">
    <label>Name:
      <input type="text" formControlName="name">
    </label><br>
    <label>Attaque:
      <input type="number" formControlName="attaque" min="-5" max="{{restant + this.formArme.get('attaque').value}}">
    </label><br>
    <label>Esquive:
      <input type="number" formControlName="esquive" min="-5" max="{{restant + this.formArme.get('esquive').value}}">
    </label><br>
    <label>Dégâts:
      <input type="number" formControlName="degats" min="-5" max="{{restant + this.formArme.get('degats').value}}">
    </label><br>
    <label>Point de Vie:
      <input type="number" formControlName="pv" min="-5" max="{{restant + this.formArme.get('pv').value}}">
    </label><br>

    <button *ngIf="restant == 0 " type="submit" [disabled]="!formArme.valid">Valider</button>
  </form>
</div>

