<h2>My Heroes</h2>
<button type="button" class="btn btn-info"  routerLink="/heroes/creation">Creation Heroe</button>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hero of heroes">
    <td>
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}</a>
    </td>
    <td>
      <button type="button" class="btn btn-danger" (click)="delete(hero.id)">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>
